@model PLCG.Models.Company
@{
    ViewBag.Title = "Admin: Update";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        <label>Company ID:</label>
        @Html.TextAreaFor(c => c.CompanyID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Company Name:</label>
        @Html.TextBoxFor(c => c.CompanyName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Company Address:</label>
        @Html.TextBoxFor(c => c.CompanyAddress, new { @class = "form-control" })
    </div>

    <div class="panel-footer">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
}

